@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&family=Playwrite+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrisante+NZ+Basic:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #DCE3DC;
  --foreground: #C0C6C2;
  --muteground: #FBF6F1;
  --hereground: #C2BFCB;
  --primary: #454C4A;
  --secondary: #FFFFFF;

  --font-serif: 'Playwrite NZ Basic', serif;
  --font-sans-serif: 'Roboto', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muteground: var(--muteground);
  --color-hereground: var(--hereground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  
  --font-serif: var(--font-serif);
  --font-sans-serif: var(--font-sans-serif);
}